In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\admin\\Desktop\\Data Analytics\\churn_data.csv")
df

,customer_id,signup_date,last_active_date,subscription_type,monthly_fee,country,age,support_tickets,payment_status,churned
0,C001,2023-01-15,2024-01-10,Basic,499,India,24.0,1,Paid,No
1,C002,2023-03-12,2023-11-01,Pro,999,India,29.0,3,Paid,No
2,C003,2022-07-20,2023-10-05,Basic,499,USA,35.0,4,Failed,Yes
3,C004,2023-05-18,2024-02-10,Enterprise,1999,UK,42.0,0,Paid,No
4,C005,2023-02-25,2023-12-15,Pro,999,India,31.0,2,Paid,No
5,C006,2023-08-10,2023-09-15,Basic,499,Canada,22.0,5,Failed,Yes
6,C007,2022-11-05,2024-01-25,Enterprise,1999,India,38.0,1,Paid,No
7,C008,2023-06-01,2023-08-20,Basic,499,USA,27.0,4,Failed,Yes
8,C009,2023-01-30,2024-02-12,Pro,999,UK,33.0,2,Paid,No
9,C010,2022-09-12,2023-12-01,Enterprise,1999,India,45.0,1,Paid,No
10,C011,2023-04-10,2023-07-05,Basic,499,India,NaN,3,Failed,Yes
11,C012,2023-07-15,2024-01-15,Pro,999,Canada,30.0,1,Paid,No
12,C013,2022-10-20,2023-09-10,Enterprise,1999,USA,41.0,2,Paid,No
13,C014,2023-03-22,2023-06-18,Basic,499,India,26.0,6,Failed,Yes
14,C015,2023-05-05,2024-02-05,Pro,999,UK,34.0,0,Paid,No
15,C016,2023-01-01,2023-05-15,Basic,499,Canada,23.0,5,Failed,Yes
16,C017,2022-12-12,2024-01-30,Enterprise,1999,India,39.0,1,Paid,No
17,C018,2023-02-14,2023-09-25,Pro,999,USA,28.0,3,Paid,No
18,C019,2023-06-18,2023-10-01,Basic,499,UK,25.0,4,Failed,Yes
19,C020,2023-07-01,2024-02-01,Enterprise,1999,India,44.0,2,Paid,No
20,C021,2023-03-10,2023-04-20,Basic,499,USA,21.0,7,Failed,Yes
21,C022,2023-05-22,2024-01-18,Pro,999,India,32.0,1,Paid,No
22,C023,2022-08-14,2023-12-30,Enterprise,1999,Canada,43.0,0,Paid,No
23,C024,2023-04-01,2023-08-15,Basic,499,India,27.0,5,Failed,Yes
24,C025,2023-06-30,2024-02-08,Pro,999,UK,36.0,2,Paid,No
25,C026,2023-02-18,2023-11-11,Basic,499,India,29.0,4,Failed,Yes
26,C027,2022-11-25,2024-01-20,Enterprise,1999,USA,40.0,1,Paid,No
27,C028,2023-05-12,2023-09-01,Pro,999,Canada,31.0,3,Paid,No
28,C029,2023-07-07,2023-10-20,Basic,499,India,24.0,6,Failed,Yes
29,C030,2023-01-28,2024-02-14,Enterprise,1999,UK,42.0,1,Paid,No

In [2]:
df.head()
df.shape
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        30 non-null     str
 1   signup_date        30 non-null     str
 2   last_active_date   30 non-null     str
 3   subscription_type  30 non-null     str
 4   monthly_fee        30 non-null     int64
 5   country            30 non-null     str
 6   age                29 non-null     float64
 7   support_tickets    30 non-null     int64
 8   payment_status     30 non-null     str
 9   churned            30 non-null     str
dtypes: float64(1), int64(2), str(7)
memory usage: 2.5 KB

customer_id          0
signup_date          0
last_active_date     0
subscription_type    0
monthly_fee          0
country              0
age                  1
support_tickets      0
payment_status       0
churned              0
dtype: int64

In [10]:
df["age"].fillna(df["age"].median())

0     24.0
1     29.0
2     35.0
3     42.0
4     31.0
5     22.0
6     38.0
7     27.0
8     33.0
9     45.0
10    31.0
11    30.0
12    41.0
13    26.0
14    34.0
15    23.0
16    39.0
17    28.0
18    25.0
19    44.0
20    21.0
21    32.0
22    43.0
23    27.0
24    36.0
25    29.0
26    40.0
27    31.0
28    24.0
29    42.0
Name: age, dtype: float64

In [11]:
df["signup_date"]=pd.to_datetime(df["signup_date"])
df["last_active_date"]=pd.to_datetime(df["last_active_date"])

In [12]:
df["churned"].value_counts(normalize=True)*100

churned
No     63.333333
Yes    36.666667
Name: proportion, dtype: float64

In [15]:
df["monthly_fee"].sum()

np.int64(32970)

In [16]:
df.groupby("subscription_type")["monthly_fee"].sum()

subscription_type
Basic          5988
Enterprise    17991
Pro            8991
Name: monthly_fee, dtype: int64

In [18]:
df.groupby("subscription_type")["churned"].value_counts(normalize=True)*100

subscription_type  churned
Basic              Yes         91.666667
                   No           8.333333
Enterprise         No         100.000000
Pro                No         100.000000
Name: proportion, dtype: float64

In [21]:
df.groupby("churned")["support_tickets"].mean()

churned
No     1.421053
Yes    4.818182
Name: support_tickets, dtype: float64

In [22]:
df["lifetime_days"] = (df["last_active_date"] - df["signup_date"]).dt.days
df.groupby("churned")["lifetime_days"].mean()

churned
No     312.789474
Yes    138.090909
Name: lifetime_days, dtype: float64

In [ ]:
high_risk = df[
    (df["payment_status"] == "Failed") &
    (df["support_tickets"] > 3)
]

high_risk